.navbar_bg {
  background: #eeeeee;
  background-image: url("../images/bg_nav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
   font-size: 60px;
    font-style: oblique;
    font-family: 'Amatic SC';

}
.headings a {
  padding: 40px;
  color:white;
  text-decoration: underline;
}
.headings{
  padding: 40px;
  font-size:25px;

}
.main {
  color:white;
text-align: center;
    font-family: 'Actor';font-size: 25px;
padding-top:120px;
}

.colornav{
  background-color:rgba(0,0,0,0.3);
text-align: center;
}

#headertext{
  font-family: 'Sofia';font-size: 50px;
}
